# Ignore folders.
.storage
.cloud
.google.token
tts

*.pem
*.log*
*.db*

node-red

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml